@page "/"
@inject PetsClient.Client PetsClient
@using PetsClient;

<PetsList Pets="pets">
    <PetTemplate Context="pet">
        <div class="media">
            <img class="rounded-circle mr-3" src="@pet.ImageUrl" />
            <div class="media-body">
                <h5>@pet.Name</h5>
                <p>@pet.Description</p>
            </div>
        </div>
    </PetTemplate>
</PetsList>


@functions {
    IEnumerable<Pet> pets;

    protected override async Task OnInitAsync()
    {
        pets = await PetsClient.ApiPetsGetAsync();
    }
}